COMIC_ENHANCER_TOKEN=请替换为至少32字节的随机值
COMIC_ENHANCER_ADMIN_TOKEN=请替换为另一组至少32字节的随机值
COMFYUI_MODELS_ROOT=/data1/models/ComfyUI/models
COMIC_ENHANCER_COMFYUI_URL=http://host.docker.internal:8190
COMIC_ENHANCER_COMFYUI_REFERENCE_URL=http://comfyui-manganinja:8188
COMIC_ENHANCER_COMFYUI_REFERENCE_ENABLED=true
COMIC_ENHANCER_ANALYZER_ENABLED=true
COMIC_ENHANCER_COMFYUI_COBRA_URL=http://comfyui-cobra:8188
COMIC_ENHANCER_COMFYUI_COBRA_ENABLED=false
COMIC_ENHANCER_WORKFLOW_COBRA=/app/workflows/cobra-colorize.json
COMIC_ENHANCER_COBRA_REFERENCE_LIMIT=3
HSA_OVERRIDE_GFX_VERSION=10.3.0
COMIC_ENHANCER_GITEE_ENABLED=false
COMIC_ENHANCER_GITEE_OWNER=你的专用Gitee账号
COMIC_ENHANCER_GITEE_REPO=漫画上色LoRA仓库名
COMIC_ENHANCER_GITEE_BRANCH=main
COMIC_ENHANCER_GITEE_TOKEN=只放在远端环境变量中
COMIC_ENHANCER_GITEE_INDEX_PATH=adapters/index.json
COMIC_ENHANCER_GITEE_RELEASE_TAG=lora
